<footer class="mainfooter grbg1">
  <div class="container">
    <div class="row text-center">
      <p class="mb-0 py-2 w-100">All right reserved, &copy 2019 by <a href="https://smehsan.com">smehsan</a></p>
    </div>
  </div>
</div>