<div class="jumbotron grbg1 mt-5">
  <div class="container">
    <h1 class="display-3 heading">Fluid jumbo heading</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
      <a class="btn btn-outline-light" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-4">
    <div class="card grbg1">
      <div class="card-header">
        <h4 class="card-title mb-0"><a href="#" class="text-white">History</a></h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="#">Alexander the Great - Greek leader who conquered western Asia and northeast Africa.</a>
        </li>
        <li class="list-group-item">
          <a href="#">Augustus - The first Emperor of Rome.</a>
        </li>
        <li class="list-group-item">
          <a href="#">Napoleon Bonaparte - French military leader who became Emperor of the French.</a>
        </li>
      </ul>
      <div class="card-header">
        <a href="#" class="float-right text-white">View All</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card grbg1">
      <div class="card-header">
        <h4 class="card-title mb-0"><a href="#" class="text-white">Technology</a></h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="#">Alexander the Great - Greek leader who conquered western Asia and northeast Africa.</a>
        </li>
        <li class="list-group-item">
          <a href="#">Augustus - The first Emperor of Rome.</a>
        </li>
        <li class="list-group-item">
          <a href="#">Napoleon Bonaparte - French military leader who became Emperor of the French.</a>
        </li>
      </ul>
      <div class="card-header">
        <a href="#" class="float-right text-white">View All</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card grbg1">
      <div class="card-header">
        <h4 class="card-title mb-0"><a href="#" class="text-white">Magic Math</a></h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="#">Alexander the Great - Greek leader who conquered western Asia and northeast Africa.</a>
        </li>
        <li class="list-group-item">
          <a href="#">Augustus - The first Emperor of Rome.</a>
        </li>
        <li class="list-group-item">
          <a href="#">Napoleon Bonaparte - French military leader who became Emperor of the French.</a>
        </li>
      </ul>
      <div class="card-header">
        <a href="#" class="float-right text-white">View All</a>
      </div>
    </div>
  </div>
</div>