<div class="jumbotron grbg1">
  <div class="container">
    <h1 class="display-3 heading">Fluid jumbo heading</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
      <a class="btn btn-outline-light" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
  </div>
</div>

<div class="row mb-5">
  
  <% @featured_categories.each do |fetcat| %>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">
          <%= link_to fetcat.name, category_path(fetcat) %>
        </h4>
      </div>
      <ul class="list-group list-group-flush">
      <% fetcat.posts.last(3).each do |p| %>
        <li class="list-group-item">
          <%= link_to truncate(p.title, length: 40), post_path(p), class: 'text-muted' %>
        </li>
      <% end %>
      </ul>
      <div class="card-footer">
        <%= link_to  "View All Posts", category_path(fetcat), class: 'float-right text-muted' %>
      </div>
    </div>
  </div>
  <% end %>


</div>