<div class="row py-4">
  <div class="col-md-10 offset-md-1">
    <% @posts.each do |post| %>
    <article class="bg-white mb-2">
      <div class="row">
        <div class="col-md-3">
          <img src="https://placeimg.com/640/480/any" class="img-fluid">
        </div>
        <div class="col-md-9">
          <div class="p-2">
            <header>
              <p class="h5 article_title font-weight-bold">
                <%= link_to post.title, post_path(post) %>
              </p>
            </header>
            <div class="content">
              <%= truncate sanitize(post.content, tags: [], attributes: []), length: 100 %>
            </div>
            <footer class="mt-3 small">
              <span class="text-muted">
                Published at - 
                <%= post.created_at.strftime('%b %e, %l:%M %p') %>
              </span>
              <span> | </span>
              <span class="text-muted">
                By - <%= post.user.email[/[^@]+/]  %>
              </span>
            </footer>
          </div>
        </div>
      </div>
    </article>
    <% end %>
  </div>
</div>