@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Henny+Penny|PT+Sans');

body { font-family: 'PT Sans', sans-serif; background-color: #eee; }
.heading { font-family: 'Henny Penny', cursive; }

.grbg1{
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.trix-content{ background-color: #FFF; }